@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F3F4F6;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
}

/* FONTS */

.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.source-sans-3 {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
}


.karla {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

h3, h4, h5, h6, button, div {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

p, li, button, a {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
}

span {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

input, select, textarea, label {
  font-family: "Poppins", sans-serif;
  font-weight: 300 !important;
  font-style: normal;
}

@media (max-width: 768px) {
  .fc .fc-toolbar {
    display: block;
  }
}

.tooltip > :where(.tooltip-content), .tooltip:where([data-tip]):before {
  text-align: left;
  white-space: pre-line;
}

/* CALENDAR */

.fc-direction-ltr {
  direction: ltr;
  text-align: left;
  height: 100vh !important;
}

.fc .fc-button-group > .fc-button.fc-button-active, .fc .fc-button-group > .fc-button:active, .fc .fc-button-group > .fc-button:focus, .fc .fc-button-group > .fc-button:hover {
  z-index: 0 !important;
}

.fc .fc-toolbar-title {
  font-weight: 200 !important;
  font-size: 36px !important;
}

.fc .fc-view-harness {
  z-index: 0 !important;
}

/* .fc-h-event {
  background-color: #226f54 !important;
  border: 1px solid #63CFA9 !important;
  padding: 0px 3px !important;
} */

/* .fc-v-event {
  background-color: #226f54 !important;
  border: 1px solid #63CFA9 !important;
}  */

/* .fc .fc-multimonth-multicol .fc-daygrid-more-link {
  border: 1px solid #63CFA9 !important;
} */

/* .fc .fc-list-event-dot {
  border: calc(10px / 2) solid #226f54 !important;
} */

/* .fc-daygrid-event-dot {
  border: calc(8px / 2) solid #226f54 !important;
} */

/* AUTHENTICATOR */

.amplify-tabs__item--active {
  border-color: #227D54 !important;
  color: #5CAB68 !important;
}

.amplify-tabs__item--active:hover {
  color: #227D54 !important;
}

.amplify-tabs__item {
  font-family: "Poppins", sans-serif !important;
  font-weight: 600 !important;
  font-style: normal !important;
  font-size: 16px !important;
}

.amplify-label, .amplify-input {
  font-family: "Poppins", sans-serif !important;
  font-weight: 300 !important;
  font-style: normal !important;
  font-size: 16px !important;
}

.amplify-button {
  font-family: "Poppins", sans-serif !important;
  font-weight: 500 !important;
  font-style: normal !important;
  font-size: 16px !important;
}

.amplify-button--primary {
  background-color: #5CAB68 !important;
}

.amplify-button--primary:hover {
  background-color: #227D54 !important;
}

.amplify-button--link {
  color: #D2A267 !important;
}

.amplify-button--link:hover {
  background-color: transparent !important;
  color: #A97453 !important;
}

.amplify-field {
  margin-bottom: 10px !important;
  gap: 0.25rem !important;
}

.amplify-input {
  border-color: rgb(209 213 219 / var(--tw-border-opacity, 1)) !important;
}

.amplify-input:hover {
  border-color: #D2FF28 !important;
}

fieldset {
  gap: 0.25rem !important;
}

form > fieldset > .amplify-flex {
  gap: 0 !important;
  margin-bottom: 1rem !important;
}

.select-member {
  outline-color: var(--amplify-components-fieldcontrol-outline-color);
}

.amplify-input:focus, .amplify-field-group__outer-end .amplify-field-group__control:focus {
  border-color: green !important;
  box-shadow: 0 0 0 2px rgba(0, 128, 0, 0.2) !important;
}

.amplify-button--primary:active {
  background-color: darkgreen !important;
  box-shadow: 0 0 0 2px green !important;
}

.amplify-tabs__item:focus {
  box-shadow: none !important;
}

.amplify-tabs__item:hover {
  color: #227D54 !important;
}

.amplify-button--loading {
  color: white !important;
}

[data-amplify-authenticator] [data-amplify-router] {
  border: none !important;
}

.react-select__placeholder {
  font-family: "Poppins", sans-serif !important;
  font-weight: 300 !important;
  font-style: normal !important;
  font-size: 16px !important;
}

[data-amplify-authenticator] [data-amplify-container] {
  place-self: stretch !important;
  padding: 0px 25px !important;
}

[data-amplify-authenticator] {
  width: 100% !important;
}

/* RADIO BUTTON STYLING */
.radio:checked, .radio[aria-checked="true"] {
  box-shadow: 0 0 0 4px white inset, 0 0 0 4px white inset !important;
}

/* CUSTOM ANIMATIONS */

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}